*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: red;
    padding: 20px;
    width: 100vw;
}